img {
	height: 200px;
	width: 200px;
}

#left {
	position: absolute;
	top: 175px;
	left: 125px;
	/* height: 300px; */
}
#left-text {
	position: absolute;
	top: 400px;
	left: 70px;
}
#right {
	position: absolute;
	top: 175px;
	right: 120px;
	/* height: 300px; */
}
#right-text {
	position: absolute;
	top: 400px;
	right: 40px;
}
#center-right {
	position: absolute;
	top: 400px;
	right: 400px;
	/* height:300px; */
}
#center-right-text {
	position: absolute;
	top: 625px;
	right: 300px;
}
#center-left {
	position: absolute;
	top: 400px;
	left: 400px;
	/* height:300px; */
}
#center-left-text {
	position: absolute;
	top: 625px;
	left: 360px;
}
h1 {
	/* position: relative; */
	/* left: 30%; */
	text-align: center;
}
body {
	color: #3d3d3d;
	padding-top: 40px;
}

@media screen and (max-width: 1300px) {
	h1 {
		display: inline-block;
	}
	div {
		padding: 30px;
		overflow: auto;
	}
	#center-left-text, #center-right-text, #left-text, #right-text {
		position: static;
		top: 30px;
		right: 30px;
		left: 30px;
		/* clear: right; */
	}
	#center-left, #left, #right, #center-right  {
		float: left;
		clear: left;
		position: absolute;
		/* top: 0px; */
		right: 0px;
		left: 30px;
    	}
}
