body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffd8e1;
	/* background-color: #f7d345; */
}
img {
}
h1 {
	margin: 10px;
	font-size: 75px;
	margin-bottom: 0px;
}
h2 {
	/* color: #999999; */
	color: white;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 3px;
	font-size: 50px;
	margin-left: 40px;
	margin-right: 40px;
}
h3 {
	margin: 10px;
	margin-bottom: 2px;
	margin-top: 2px;
	font-size: 35px;
	margin-left: 40px;
	margin-right: 40px;
}
a {
	color: #e877ff;
	text-decoration: none;
}
p {
	font-size: 20px;
}
#main {
	color: #3d3d3d;
	padding: 30px;
}

.right-align {
	/* position: absolute; */
	/* right: 30px; */
	clear: right;
	float: right;
}
