{% extends "base_template.html" %}
{% block title %}Bike Jordan{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/bike_jordan.css">
{% endblock %}
{% block body %}
	<img class="page-image" src="/static/photos/bike.png" alt="Jordan in Seattle">
	<div id="main">
		<h1>Jordan W. Dashel</h1>
		<h2>Rode his bicycle</h2>
		<h2>Seattle &#x2192 NY</h2>
		<h3><a href="http://acrossthecountryin90days.com">See my ride.</a></h3>
		<h3><a href="/contact">Contact me.</a></h3>
	</div>
{% endblock %}
