{% extends "base_template.html" %}
{% block title %}Dev Jordan{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/dev_jordan.css">
{% endblock %}
{% block body %}
	<img class="page-image" src="/static/photos/seattle.png" alt="Jordan in Seattle">
	<div id="main">
		<h1 class="right-align">Jordan W. Dashel</h1>
		<h2 class="right-align">Python + Linux Dev</h2>
		<h3 class="right-align"><a href="/my-dev-work">See my work.</a></h3>
		<h3 class="right-align"><a href="/contact">Contact me.</a></h3>
	</div>
{% endblock %}
