<head>
	<title>J. W. Dashel</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/home.css">
	<script src="/static/js/home.js"></script>
</head>
<body>
	<h1>Jordan W.</h1>
	<h1>Dashel</h1>
	<a href="/dev-jordan">
		<img id="left" onmouseover="enlarge(this)" onmouseout="resize(this)"
		src="/static/photos/seattle_headshot.png" alt="Jordan in Seattle">
	</a>
	<a href="/sax-jordan">
		<img id="center" onmouseover="enlarge(this)" onmouseout="resize(this)"
		src="/static/photos/sax_headshot.png" alt="Jordan playin' Sax">
	</a>
	<a href="/va-jordan">
		<img id="right" onmouseover="enlarge(this)" onmouseout="resize(this)"
		src="/static/photos/jacket_headshot.png" alt="Jordan in a cool Jacket">
	</a>

</body>
