{% extends "base_template.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/home.css">
	<script src="/static/js/home.js"></script>
{% endblock %}

{% block body %}
	<div>
	<h1>Jordan</h1>
	<h1>W.</h1>
	<h1>Dashel</h1>
	</div>
	<div>
		<a href="/dev-jordan">
			<img id="left" onmouseover="enlarge(this)" onmouseout="resize(this)"
			src="/static/photos/seattle_headshot.png" alt="Jordan in Seattle">
		<h2 id="left-text">developer</h2>
		</a>
	</div>
	<div>
		<a href="/bike-jordan">
			<img id="center-left" onmouseover="enlarge(this)" onmouseout="resize(this)"
				src="/static/photos/bike_headshot.png" alt="Jordan on a Bike">
		<h2 id="center-left-text">bicyclist</h2>
		</a>
	</div>
	<div>
		<a href="/sax-jordan">
			<img id="center-right" onmouseover="enlarge(this)" onmouseout="resize(this)"
			src="/static/photos/sax_headshot.png" alt="Jordan playin' Sax">
		<h2 id="center-right-text">saxophonist</h2>
		</a>
	</div>
	<div>
		<a href="/va-jordan">
			<img id="right" onmouseover="enlarge(this)" onmouseout="resize(this)"
			src="/static/photos/jacket_headshot.png" alt="Jordan in a cool Jacket">
		<h2 id="right-text">visual artist</h2>
		</a>
	</div>


{% endblock %}
