<head>
	<title>J. W. Dashel</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/my_work.css">
</head>
<body>
	<div id="main">
		<h1>My Dev Work</h1>
		<div class="text">
			<p>I was brought up in the Test-First school of teaching, with an 
			emphasis on code as craft. I make sure the code I write is functional,
			flexible, and above all, clean and easy-to-read.</p>
			<p>My realm of comfort is firmly in the *nix family--I am best with Python
			and Linux. On my teams, I've always been the one to go to for scripts and
			automation: <span title="All style... just enough substance.">Ruby</span>, 
			<span title="The hardest workin' language in computer business.">BASH</span>, 
			<span title="Write-Only... granted. Not necessarily a weakness.">Perl
			</span>... I love my scripting languages! I've also worked with Java 
			and C#.</p>
			<p>I use and adore both <span title="For no nonesense code manipulation.">
			VIM</span> and 
			<span title="For all other text editing, org-mode, LISPs...">EMACS</span> 
			-- different tools for different jobs :)</p>
		</div>
	</div>
</body>
