<head>
	<title>J. W. Dashel</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/my_work.css">
</head>
<body>
	<div id="main">
		<h1>Sonic Samples</h1>

		<h2>Confirmation -- Charles Parker</h2>
		<audio controls>
			<source src="/static/recordings/confirmation.mp3" type="audio/mpeg">
		</audio>

		<h2>Etude 9 -- Gustavo Rossari</h2>
		<audio controls>
			<source src="/static/recordings/etude9.mp3" type="audio/mpeg">
		</audio>
	</div>
</body>
