{% extends "base_template.html" %}
{% block title %}Jordan's Visual Art{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/my_work.css">
{% endblock %}
{% block body %}
	<div id="main">
		<h1><em>MY VISUAL ART</em></h1>
		{% for f in works %}
			<div class="artwork">
				<h2>{{f.split('.')[1].replace('_', ' ')}}</h2>
				<a href="/static/photos/art/{{f}}">
					<img src="/static/photos/art/{{f}}" alt="{{f.split('.')[1]}}">
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
