{% extends "base_template.html" %}
{% block title %}Visual Artist Jordan{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/va_jordan.css">
{% endblock %}
{% block body %}
	<img class="page-image" src="/static/photos/jacket.png" alt="Jordan in a Jacket">
	<div id="main">
		<h1 class="right-align">Jordan W. Dashel</h1>
		<h2 class="right-align">Visual Artist</h2>
		<h3 class="right-align"><a href="/my-visual-work">See my work.</a></h3>
		<h3 class="right-align"><a href="/contact">Contact me.</a></h3>
	</div>
{% endblock %}
